<?xml version="1.0" ?>
<launch>
  <master auto="start"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find caurobot_nav)/maps/test.yaml" output="screen"/>

  <include file="$(find caurobot_nav)/launch/amcl.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	  
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="5.0" />

    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="5.0" />

    <rosparam file="$(find caurobot_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find caurobot_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find caurobot_nav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find caurobot_nav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find caurobot_nav)/config/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find caurobot_nav)/config/global_planner_params.yaml" command="load" />

  </node>


</launch>
